@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Exo+2:ital,wght@0,100..900;1,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Noto+Serif+TC:wght@200..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
     margin: 0;
     padding: 0;
     font-family:'Exo 2';

     box-sizing: border-box;
}

body{
     background-repeat: no-repeat;
     background-size: cover;
     background-attachment: fixed;
     background-position: center;
}
body::-webkit-scrollbar{
     width: 0;
}

.profile_pic{
     width: 3.2rem;
     border-radius: 50%;

}

.nav-bar{
     width: 100%;
     position: fixed;
     top: 0;
     background-image: linear-gradient(#295255  0.2%,#428D93 99.8%);
     display: flex;
     justify-content: space-between;
     padding: 1rem 4rem; 
     z-index: 1000;
     height: 4vw;
}

.home-search{
     display: flex;
     width: 150rem;
     align-items: center;
     gap: 3rem;

     li{
          list-style: none;

     }

     li a i{
          color: white;
          background-color: transparent;
          font-size: 1.3rem;
     }
}

.menu-btn{
     width: 20rem;
     display: flex;
     justify-content: space-evenly;
     align-items: center;
     position: relative;
     gap: 3rem;

     li{
          position: relative;

          .notify-count{
               width: 0.8rem;
               height: 0.8rem;
               background-color: red;
               border-radius: 50%;
               position: absolute;
               top: 0.5rem;
               right: 0.3rem;

               display: flex;
               justify-content: center;
               align-items: center;
               color: white;
               font-size: 0.55rem;
               box-shadow: -0.7px 0.7px 7px rgba(0, 0, 0, 0.4);
               transition: 0.2s ease;
          }

     }

     li:hover{
          .notify-count{
               width: 2rem;
               border-radius: 3rem 3rem 3rem 0;
               transform: translate(1.4rem,-0.4rem);
               background-color: #c27fa6;
          }
     }
     li:active{
          .notify-count{
               scale: 0.3;        
          }
     }

     .notification-container{
          display: none;
          position: absolute;
          width: 14rem;
          background-color: #f3f3f3;
          top: 88%;
          right: 88%;
          height: 17rem;
          border-radius: 1rem 0 1rem 1rem;
          box-shadow:  1.7px 1.7px 2px #8d8d8d, -1.7px -1.7px 2px #ffffff;
          overflow: scroll;
          flex-direction: column;

          .head{
               
               display: flex;
               flex-direction: column;
               align-items: center;
               width: 100%;
               gap: 0.2rem;
               margin-left: 0;
               position: sticky;
               top: 0;
               z-index: 99;
               background-color: #f3f3f3;
               padding: 0.4rem 0;
          }
          h2{
               font-size: 1.2rem;
          }
          div{
               display: flex;
               gap: 3.5rem;
               
               
               button{
                    border-radius: 0.4rem;
                    border: none;
                    width: 2.6rem;
                    font-size: 0.6rem;
                    height: 1.1rem;
                    background-color: #295255;
                    color: white;
                    cursor: pointer;
                    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
                    transition: all 0.2s;
               
               }
               button:hover{
                    
                    background-color: #428D93;
               }
               button:active{
                    width: 5rem;
                    background-color: transparent;
                    border: #295255 solid 0.15rem;
                    color: #295255;
               }

               .buttonToggled{
                    width: 6rem;
                    background-color: transparent;
                    border: #295255 solid 0.15rem;
                    color: #295255;
               }
               .buttonToggled:hover{
                    width: 6rem;
                    background-color: transparent;
                    border: #428D93 solid 0.15rem;
                    color: #428D93;
               }
          }

          .notification-context-unread{
               display: none;
               flex-direction: column;
               gap: 0.4rem;
               padding: 0.2rem 0.4rem;

               li{
                    padding: 0.3rem 0;
                    padding-left: 0.3rem;
                    display: flex;
                    align-items: center;
                    font-size: 70%;
                    background-color: white;
                    border-radius: 0.7rem;
                    gap: 0.4rem;
                    
                    img{
                         width: 2rem;
                         height: 2rem;
                         aspect-ratio: 1/1;
                         object-fit: cover;
                         object-position: center;
                         border-radius: 50%;
                    }
               }
          }
          .notification-context{
               display: flex;
               flex-direction: column;
               gap: 0.4rem;
               padding: 0.2rem 0.4rem;

               li{
                    padding: 0.3rem 0;
                    padding-left: 0.3rem;
                    display: flex;
                    align-items: center;
                    font-size: 70%;
                    background-color: white;
                    border-radius: 0.7rem;
                    gap: 0.4rem;
                    
                    img{
                         width: 2rem;
                         height: 2rem;
                         aspect-ratio: 1/1;
                         object-fit: cover;
                         object-position: center;
                         border-radius: 50%;
                    }
               }
          }
          

         
     }
     .notification-container::-webkit-scrollbar{
          width: 0;
     }
   
     
}

.menu-btn i{
     font-size: 1.2rem;
     padding: 1rem;
     background-color: transparent;
     color: white;
     border-radius: 50%;
}

.menu-btn li{
     list-style: none;
}

.menu-btn li a{
     text-decoration: none;
}

.search-container{
 
     display: flex;
     justify-content: center;
     align-items: center;
     width: 20%;
}

.search-container form{
     position: relative;
     width: 100%;
}

.search-input{
     border: none;
     width: 20rem;
     height: 1.6rem;
     border-radius: 0.7rem;
     padding: 0.4rem 1.2rem;
     outline: none;
     font-size: 0.75rem;
}

.search-btn{
     border: none;
     border-radius: 50%;
     font-size: 1.2rem;
     position: absolute;
     right:2% ;
     top: 4px;
     cursor: pointer;
}

.cover-profile-container{
     margin-top: 4rem;
     width: 100%;
     height: 20%;
     position: relative;
}

.cover-container{
     margin: 0 auto;
     display: flex;
     justify-content: center;
     width: 100%;
     max-height: 32rem;
     position: relative;
}
.cover-container img{
     width: 97%;
     border-radius: 1rem;
     max-height: 32rem;
}

.cover-container button{
     position: absolute;
     border: none;
     bottom: 0;
     right: 1.5rem;
     width: 2rem;
     height: 2rem;
     border-radius: 50%;
     cursor: pointer;
     transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
     box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2) inset;
}

.profile-container{
     width: 50%;
     margin-left: 5vw;
     position: absolute;
     bottom: -17%;
     display: flex;
     align-items: center;
}

.namee{
     padding-left: 1rem;
     padding-top: 5rem;
}

.profile-container img{
     width: 12rem;
     height: 12rem;
     aspect-ratio: 1/1;
     object-fit: cover;
     object-position: center;
     border-radius: 50%;
     border: 6px solid #f0f5f7;
}
#edit-profile-picture{
     position: absolute;
     border: none;
     bottom: 1rem;
     left: 9rem;
     width: 2rem;
     height: 2rem;
     border-radius: 50%;
     cursor: pointer;
     transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
     box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2) inset;
}
#edit-profile-picture:hover, #edit-cover-picture:hover{
     scale: 1.05;
}

.info-container{
     margin-left: 6vw;
     margin-top: 6.5rem;
     width: 30%;
     height: 12rem;
     background-color: #ccd0d1;
     border-radius: 20px;

     .count-container{
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;

          div{
               display: flex;
               flex-direction: column;
               align-items: center;

               h3{
                    scale: 0.85;
                    color: rgb(67, 67, 67);
                    font-weight: 500;
               }
          }
     }
}

.info-container ul{
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 0.5rem;
     padding-top: 1rem;
}

.info-container ul li{
     list-style: none;
}

.timeline{
     margin-left: 40%;
     width: 55.5%;
     position: absolute;
     top: 85%;

}

.timeline .post-follower-container{
     display: flex;
     justify-content: space-evenly;
     margin-bottom: 2rem;
}
.timeline .post-follower-container button{
     border: none;
     width: 6rem;
     font-weight: 500;
     height: 2rem;
     border-radius: 4rem;
     cursor: pointer;
     position: relative;
     transition: 0.2s ease;
  
}
.timeline .post-follower-container button:hover{
    scale: 1.1;
  
}
.timeline .post-follower-container button:active{
     scale: 0.9;
   
 }



.post-container, .following-container, .followers-container{
     width: 90%;
     margin: auto;
     height: 46rem;
     background-image: url('background.png');
     background-repeat: no-repeat;
     background-size: cover;
     overflow: scroll;
     border-radius: 1rem;
     padding: 1rem 0;
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.4) inset;
}
.post-container::-webkit-scrollbar, .following-container::-webkit-scrollbar, .followers-container::-webkit-scrollbar{
     width: 0;
}

.hidden{
     display: none;
}

.edit-profile-picture-popup, .edit-cover-picture-popup{
     background-color: rgba(0, 0, 0, 0.5);
     position: fixed;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     z-index: 99999999;
}
.edit-profile-picture-popup .edit-profile-picture-container, .edit-cover-picture-popup .edit-cover-picture-container{
     background-color: #f0f5f7;
     width: 30%;
     margin: 21% auto;
     display: flex;
     flex-direction: column;
     align-items: center;
     position: relative;
     border-radius: 1rem;

     @media (max-width:1080px){
          width: 50%;
          margin: 55% auto;

     }
}
.edit-profile-picture-popup .edit-profile-picture-container h1, .edit-cover-picture-popup .edit-cover-picture-container h1{
     padding: 2rem 0;
}
.edit-profile-picture-popup .edit-profile-picture-container button, .edit-cover-picture-popup .edit-cover-picture-container button{
     position: absolute;
     top: -6%;
     right: -2%;
     width: 2em;
     height: 2em;
     border: none;
     border-radius: 10px 5px 10px 5px;
     background-color: #295255;
     color: #f0f5f7;
     font-weight: bolder;
     box-shadow: -2px 2px 2px #162623 inset; 
     transition: 0.1s ease-in-out;
}
.edit-profile-picture-popup .edit-profile-picture-container button:hover, .edit-cover-picture-popup .edit-cover-picture-container button:hover{
     scale: 1.05;
}
.edit-profile-picture-popup .edit-profile-picture-container button:active, .edit-cover-picture-popup .edit-cover-picture-container button:active{
     scale: 0.98;
}
.edit-profile-picture-popup .edit-profile-picture-container form, .edit-cover-picture-popup .edit-cover-picture-container form{
     display: flex;
     flex-direction: column;
     gap: 1rem;
     padding-bottom: 2rem;
}

.search_history{
     width: 20rem;
     background-color: white;
     position: absolute;
     padding: 0 1rem;
     border-radius: 0 0 1rem 1rem;
     height: 15vw;
     box-shadow: 0 0 5px rgba(0, 0, 0, 0.4) inset;
     overflow: scroll;
     display: none;

     h3{
          padding: 1rem 0 0.5rem 0;
          position: absolute;
          top: 0;
     }
     
     
     .search-results, .history-search{
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
          margin-top: 2.8rem;
          
          .wala-dito{
               width: 100%;
               display: flex;
               justify-content: center;

               img{
                    width: 80%;
                    height: 10rem;
                    margin: 0 auto;
                    border-radius: 0.5rem;
  
               }
               
          }
          

          a{
               display: flex;
               background-color: #f3f3f3;
               justify-content: flex-start;
               height: 2rem;
               gap: 0.5rem;
               border-radius: 0.5rem;
               align-items: center;
               cursor: pointer;
               color: black;
               text-decoration: none;
               transition: 0.2s ease;
               img{
                    width: 2rem;
                    height: 2rem;
                    object-fit: cover;
                    object-position: center;
                    aspect-ratio: 1/1;
                    border-radius: 50%;
               }
               p{
                    font-size: 0.9rem;

               }

          }
          a:hover{
               scale: 1.02;
          }
     }

     .search-results{
          display: none;
          .cont{
               display: flex;
               flex-direction: column;
               gap: 0.5rem;
          }
     }
     .history-search{
          display: flex;
          
          a{
               display: flex;
               justify-content: space-between;
               position: relative;

               p{
                    position: absolute;
                    left: 2.5rem;
               }

               button{
                    background-color: transparent;
                    border: none;
                    color: #295255;
                    cursor: crosshair;
                    transition: 0.3s ease;
               }
               button:hover{
                    scale: 1.1;
                    color: red;
               }
          }
     }
}

.search_history::-webkit-scrollbar{
     width: 0;
}

.search-container form:focus-within .search_history{
     display: block;
}
.search-container form:focus-within .search-input{
     border-radius: 1rem 1rem 0 0;
}

.prompt-container{
     display: block;
     background-color: rgba(0, 0, 0, 0.5);
     width: 100%;
     height: 100%;
     position: fixed;
     z-index: 1000;
     top: 0;
}

.prompt-container div{
     background-image: url('background.png'); 
     background-size: cover;
     background-repeat: no-repeat;
     width: 30%;
     height: 15%;
     margin: auto;
     display: flex;
     justify-content: center;
     margin-top: 20%;
     border-radius: 5rem;
     align-items: center;
     position: relative;
}

.prompt-container div h2{
     color:#7d0707;
}

.prompt-container div button{
     position: absolute;
     top: 0;
     right: 0;
     width: 2em;
     height: 2em;
     border: none;
     border-radius: 10px 5px 10px 5px;
     background-color: #295255;
     color: #f0f5f7;
     box-shadow: -2px 2px 2px #162623 inset;
     transition: 0.2 cubic-bezier(0.175, 0.885, 0.32, 1.275);   
}

.prompt-container div button:hover{
     scale: 1.05;
     box-shadow: 2px -2px 2px #162623 inset;
}
.prompt-container div button:active{
     scale: 0.97;
     box-shadow: -2px 2px 2px #162623 inset;
}

.hidden{
     display: none;
}
.menu-btn-text{
     background-color: transparent;
     border: none;
     transition: 0.3s ease;
     cursor: pointer;
}
.menu-btn-text:hover{
     transform: translateY(-2px);
}
.post-item{
     width: 90%;
     margin: 1rem auto;
     border-radius: 1rem;
     box-shadow: -2.5px 2.5px 6px rgba(0, 0, 0, 0.3) ;
     background-color: white;
}

.post-header{
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 0 4rem;
     margin-top: 1rem;

     .profile-name{
          display: flex;
          align-items: center;
     }
     .profile-name img{
          width: 3.5rem;
          height: 3.5rem;
          aspect-ratio: 1/1;
          object-fit: cover;
          object-position: center;
          border-radius: 50%;
          margin-right: 1.5rem;
          transition: 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
     }
     .profile-name img:hover{
          scale: 1.2;
     }
}

.post-content{
     width: 100%;
     display: flex;
     flex-direction: column;
     justify-content: center;

     img{
          width: 65%;
          border-radius: 1rem;
          margin: auto;
          transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
          z-index: 1;
          cursor: crosshair;
     }
     p{
          margin: 1rem auto;
          padding: 0;  
          width: 80%;
     }
     img:hover{
          scale: 1.05;
     }
     video{
          width: 75%;
          border-radius: 1rem;
          margin: auto;
          position: relative;
          transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
          z-index: 1;
          cursor: crosshair;
     }
     video:hover{
          scale: 1.05;
     }
}

.post-action{
     display: flex;
     align-items: center;
     padding: 0 4rem;
     justify-content: space-between;
     margin-top: 1rem;
     margin-bottom: 2.5rem;
     align-items: center;
     position: relative;

     
     .userWhoLikes{
          display: none;
          position: absolute;
          left: 12%;
          top: -3.2rem;
          z-index: 9999;
          width: fit-content;
          height: fit-content;
          background-color: #f3f3f3;
          padding: 1rem;
          border-radius: 1rem 1rem 1rem 0;
          li{
               list-style: none;
               font-size: 0.8rem;
               color: rgb(78, 78, 78);
          }
     }
     .form{
          width: 85%;
          display: flex;
          align-items: center;
     }
     .form button{
         
          right: 1rem;
          scale: 0.7;
          cursor: pointer;
          color: #295255;
     }

     .form input{
          width: 100%;
          height: 2rem;
          outline: none;
          border: none;
          border-radius: 4rem;
          background-color: #f3f3f3;
          padding-left: 1rem;
     }
     

     button{
          background-color: transparent;
          border: none;
          font-size: 2rem;
          color: red;
          cursor: pointer;
          transition: 0.2s ease , color 3s ease;
          
     }
     button:hover{
          scale: 1.05;
          color: #ff22f0;
     }
     button:active{
          scale: 0.8;
          color: #7d0707;
     }

     .comment-btn{
          color: black;
          cursor: pointer;
     }

     .delete-btn{
          color: black;
          cursor: pointer;
          scale: 1.5;
          padding-left: 0.6rem;
     }
    
}

@keyframes like{
     0%{
          scale: 0;
          opacity: 0%;
     }
     10%{
          scale: 0.4;
          opacity: 50%;
     }
     30%{
          scale: 0.7;
          opacity: 70%;
     }
     50%{
          scale: 1;
          opacity: 100%;
     }

     70%{
          scale: 1.1;
          opacity: 100%;
     }
     80%{
          scale: 1.2;
          opacity: 95%;
     }
     100%{
          scale: 1;
          opacity: 100%;
     }
}

.like-animation{
     animation-name: like;
     animation-duration: 0.2s;
}
.unlike-animation{
     animation-name: like;
     animation-duration: 0.2s;
     animation-direction: reverse;
}

.bio{
     font-style: italic;
}
.comment-box-popup{
     display: none;
     position: fixed;
     background-color: rgba(0, 0, 0, 0.5);
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     z-index: 99999;
    
}

.comment-box{
     width: 45rem;
     height: 30rem;
     margin: 9% auto;
     background-color: #f3f3f3;
     backdrop-filter: blur(25px);
     position: relative;
     border-radius: 3rem;
     box-shadow: 0 0 5px rgba(0, 0, 0, 0.4) inset;
     z-index: 9999;

     @media (max-width:1080px) {
          z-index: 99999 !important;
          width: 40rem;
          margin: 33% auto;
     }

     button{
          position: absolute;
          background-color: transparent;
          color: #295255;
          right: -0.5%;
          top: -1.5%;
          cursor: pointer;
          width: 2rem;
          height: 2rem;
          z-index: 999;
     }

     

     .post-info p{
          text-align: center;
          font-size: 1.2rem;
          font-weight: bolder;
          padding-top: 1rem;
     }
}

.comment-list-container{
     
     overflow: scroll;
     margin: auto;
     width: 100%;
     height: 90%;

}


.comment-list-container::-webkit-scrollbar{
     width: 0;
}

.comment-list{
     margin: 1rem;
     position: relative;
     display: flex;
     align-items: center;
     gap: 1rem;
     background-color: #ffffff;
     border-radius: 1.5rem;

     

     .date{
          position: absolute;
          right: 5%;
          font-size: 0.8rem;
     }

     .name{
          padding-top: 0;
     }

     div{
          display: flex;
          align-items: center;

          gap: 0.5rem;
          img{
               width: 3rem;
               height: 3rem;
               aspect-ratio: 1/1;
               object-fit: cover;
               object-position: center;
               border-radius: 50%;
          }
          p{
               font-weight: bolder;
          }
     }

     
}

.hidden{
     display: none;
}

.comment-btn{
     cursor: pointer;
     scale: 0.8;
     font-size: 1.8rem;
}
.like-count{
     cursor: pointer;
     transition: 0.2s;
     padding: 0 0.5rem;
}

.like-count:hover{
     text-decoration: underline;
}

.count-container-tablet{
     display: none;
}

.followers-container, .following-container{
     gap: 1rem;
     background-image: url('background.png');
     background-repeat: no-repeat;
     background-size: cover;
     a{
          color: #162623;
          text-decoration: none;
          img{
               width: 4rem;
               height: 4rem;
               aspect-ratio: 1/1;
               object-fit: cover;
               object-position: center;
               border-radius: 0.5rem;
               border: white solid 3px;
               box-shadow: 0 0 3px rgba(0, 0, 0, 0.5) inset;
               transition: 0.2s ease;
          }
          display: flex;
          align-items: center;
          padding: 0.6rem 0;
          box-shadow: -1px 1px 6px rgba(0, 0, 0, 0.4);
          list-style: none;
          width: 90%;
          margin: 0 auto;
          border-radius: 0.6rem;
          background-image: linear-gradient(#295255 0.2%,#428D93 99.8%);
          padding: 0.5rem 1rem;
          cursor: crosshair;

          h4{
               font-weight: 400;
               background-color: white;
               width: 90%;
               padding-left: 1rem;
               height: 2rem;
               border-radius: 0 0.5rem 0.5rem 0;
               align-content: center;
               backdrop-filter: blur(10px);
               box-shadow: 0 0 5px rgba(0, 0, 0, 0.4) inset;
          }
          transition: 0.2s ease;
     }
     a:hover{
          scale: 1.02;
          background-image: linear-gradient( #428D93 0.2%,#295255 99.8%);
          img{
               z-index: 99;
               border-radius: 50%;
               transform: translateX(0.8rem);
               
          }
     }

     li:nth-child(odd){
          background-image: linear-gradient(#428D93 0.2%,#295255 99.8%);
     }
}
.message-all-popup{
     display: none;
     background-color: rgba(0, 0, 0, 0.5);
     position: fixed;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     z-index: 99;

     .message-all-container{
          width: 70rem;
          height: 37rem;
          margin: 4rem auto;
          background-image: url('background.png'); 
          background-size: cover;
          background-repeat: no-repeat;
          position: relative;
          display: flex;
          flex-direction: row;
          border-radius: 1rem;
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.6) inset;

          .exit-message-all{
               position: absolute;
               right: -1rem;
               top: -1rem;
               background-color: transparent;
               border: none;
               cursor: pointer;
               transition: 0.2s ease;
               i{
                    color: #295255;
                    
               }
          }
          .exit-message-all:hover{
               scale: 1.05
          }
     }

     .contacts{
          flex-grow: 1;
          max-width: 23rem;
          background-image: linear-gradient(#428D93 2%,#295255 98%);
          box-shadow: -3px 3px 4px rgba(0, 0, 0, 0.6) ;
          margin: 1rem 0.38rem 1rem 1rem;
          border-radius: 1rem;

          h2{
               width: 92.5%;
               display: flex;
               justify-content: center;
               background-color: white;
               margin: 1rem auto;
               border-radius: 0.5rem 0.5rem 0 0;
               padding: 0.5rem 0;
               box-shadow: -3px 3px 1px #295255 ;
          }

          ul{
               width: 92.5%;
               background-color: #f3f3f3;
               height: 29.75rem;
               margin: 1rem auto;
               margin-top: -0.5rem;
               border-radius: 0 0 0.5rem 0.5rem;
               box-shadow: -3px 3px 1px #295255 ;
               padding: 0.75rem;
               display: flex;
               flex-direction: column;
               gap: 0.5rem;
               li{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    background-color: white;
                    padding: 0.4rem;
                    gap: 0.5rem;
                    border-radius: 0.5rem;
                    box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.4);
                    cursor: pointer;
                    transition: 0.2s ease;

                    h4{
                         color: black;
                         transition: 0.2s ease;
                         font-weight: 600;
                    }
                    .last-message{
                         font-weight: 800;
                         color: black;
                    }

                    img{
                         width: 2.5rem;
                         height: 2.5rem;
                         aspect-ratio: 1/1;
                         object-fit: cover;
                         object-position: center;
                         border-radius: 50%;
                         border: 2px solid white;
                    }
                    div{
                         display: flex;
                         flex-direction: column;
                         justify-content: space-around;
                         gap: 0.2rem;
                         p{
                              font-size: 0.75rem;
                              font-weight: 400;
                              color: grey;
                              transition: 0.2s ease;
                         }
                    }
                    .online{
                        
                         border: 2.5px solid greenyellow;
                    }
                    .offline{
                        
                         border: 2.5px solid lightgray;
                    }
                    
               }
               li:hover{
                    background-color: #f3f3f3;
                    box-shadow: -2px 2px 4px #428D93 ;
                    p{
                         color: #295255;
                    }
                    h4{
                         color: #295255;
                    }
                    scale: 1.02;
               }
               li:active{
                    box-shadow: -1px 1px 4px #295255 ;
                    scale: 0.98;
                    
               }
               .selected-comrade{
                    box-shadow: -2px 2px 4px #295255, -4px 4px 0 #428D93, -6px 6px 4px #295255,  -8px 8px 0 #428D93 ;
                    scale: 1.02;
                    transform: translate(0.5rem, -0.5rem);
               }
               .online{
                        
                    border: 2.5px solid greenyellow;
               }
               .offline{
                   
                    border: 2.5px solid lightgray;
               }
               
          }
     }
     .message-other-container{
     
          flex: 4.5;
          background-color: #f3f3f3;
          margin: 1rem 1rem 1rem 0.38rem;
          background-image: linear-gradient(#428D93 2%,#295255 98%);
          border-radius: 1rem;
          box-shadow: -3px 3px 4px rgba(0, 0, 0, 0.6) ;
          width: 100%;
          display: none;
          flex-direction: column;

          .user-information-head{
               flex-grow: 1;
               display: flex;
               flex-direction: row;
               justify-content: space-between;
               background-color: white;
               margin: 1rem;
               box-shadow: -3px 3px 1px #295255;
               border-radius: 0.5rem 0.5rem 0 0;
               

               .profile-name-conversation{
                    padding-left: 1rem;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 1rem;
                    img{
                         width: 3rem;
                         height: 3rem;
                         aspect-ratio: 1/1;
                         object-fit: cover;
                         object-position: center;
                         border-radius: 50%;
                         border: 2px solid white;
                    }
                    .online{
                        
                         border: 2.5px solid greenyellow;
                    }
                    .offline{
                        
                         border: 2.5px solid lightgray;
                    }
                    
               }
               .call-video-elips-conversation{
                    display: flex;
                    flex-direction: row;
       

                    button{
                         border: none;
                         background-color: transparent;
                         i{
                              color: #295255;
                         }
                    }
               }
          }
          .message-conversation-container{
               margin: 0 1rem;
               flex-grow: 500;
               padding: 0.5rem;
               overflow: scroll;
               background-color: white;
               box-shadow: -3px 3px 1px #295255;
               display: flex;
               flex-direction: column;
               gap: 0.5rem;
               
              
               .other-message-all{

                    display: flex;
                    flex-direction: row;
                    align-items: flex-end;
                    gap: 0.5rem;
                    .profile-other{
                         width: 2rem;
                         height: 2rem;
                         aspect-ratio: 1/1;
                         object-fit: cover;
                         object-position: center;
                         border-radius: 50%;
                    }
     
                    p{
                         background-color: #f3f3f3;
                         width: fit-content;
                         height: fit-content;
                         max-width: 50%;
                         padding: 0.3rem;
                         border-radius: 1rem;
                         font-size: 0.9rem;
                         font-weight: 350;
                    }
                    .send-img{
                         width: 45%;
                         height: fit-content;
                         border-radius: 0.7rem;
                    }
               }
     
               .self-message-all{
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
     
                    p{
                         background-color: #f3f3f3;
                         width: fit-content;
                         height: fit-content;
                         padding: 0.5rem;
                         max-width: 50%;
                         border-radius: 2rem;
                         font-size: 0.9rem;
                         font-weight: 350;
                    }
                    .send-img{
                         width: 45%;
                         height: fit-content;
                         border-radius: 0.7rem;
                    }
               }
          }
          .message-conversation-container::-webkit-scrollbar{
               width: 0;
          }
          .message-conversation-action{
               flex-grow: 0.1;
               margin: 1rem;
               border-radius: 0 0 0.5rem 0.5rem;
               background-color: white;
               box-shadow: -3px 3px 1px #295255;
               display: flex;
               flex-direction: row;
               align-items: center;


               .text-area{
                    width: 87%;
                    height: 2.5rem;
                    padding-top: 0.7rem;
                    resize: none;
                    margin: auto 0;
                    outline: none;
                    border-radius: 0.5rem;
                    padding-left: 0.5rem;
                    overflow: scroll;
               }
               .upload-file{
                    display: none;
                    width: 87%;
                    height: 2.5rem;
                    background-color: white;
                    border-radius: 0.5rem;
                    padding: 0.6rem 1rem;
                    color: black;   
     
               }
               .text-area::-webkit-scrollbar{
                    width: 0;
               }

               button{
                    background-color: transparent;
                    border: none;
                    font-size: 1.4rem;

                    transition: 0.2s ease;
                    cursor: crosshair;

                    i{
                         color: #295255;
                    }
               }
               button:hover{
                    scale: 1.05;
               }
               button:active{
                    scale: 0.99;
               }

          }    
     }
     
     

}

.message-notify-parent{
     position: relative;
     span{     
               display: none;
               width: 0.8rem;
               height: 0.8rem;
               background-color: red;
               border-radius: 50%;
               position: absolute;
               top: 0.5rem;
               right: 0.3rem;
               box-shadow: -0.7px 0.7px 7px rgba(0, 0, 0, 0.4);
          
     }
}




@media (max-width: 1080px){
     
     .nav-bar{
          width: 100%;
          position: fixed;
          top: 0;
          background-image: linear-gradient(#295255 0.2%,#428D93 99.8%);
          display: flex;
          justify-content: space-between;
          padding: 1rem 4rem;
          z-index: 10;
          height: 10vw;
     }
     .home-search{
          display: flex;
          width: 70%;
          align-items: center;
          gap: 3rem;
     
          li{
               list-style: none;
     
          }
     
          li a i{
               color: white;
               background-color: transparent;
               font-size: 1.3rem;
          }

          .search-container{
               width: 80%;
          }
     }
     
     .menu-btn{
          width: 20%;
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          gap: 2rem;
     }
     
     .menu-btn i{
          font-size: 1.7rem;
          padding: 1rem;
          color: white;
          border-radius: 50%;
          display: flex;
          align-items: center;
     }
     .cover-profile-container{
          margin-top: 5rem;
          width: 100%;
          height: 15%;
          position: relative;
     }
     
     .cover-container{
          margin: 0 auto;
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
          width: 90%;
          max-height: 23rem;
          position: relative;
     }
     .cover-container img{
          border-radius: 1rem;
          max-height: 23rem;
     }
     
     
     
     
     .profile-container{
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: center;
          transform: translate(-12rem,-6rem);
          position: relative;
      

          .head{
               display: flex;
               flex-direction: column;
               align-items: center;
               width: 100%;
               transform: translate(10rem, 1rem);
          }
          .body{
               transform: translateX(3.5rem);
               display: flex;
               flex-direction: column;
               width: 100%;
               gap: 0.5rem;

               .count-container-tablet{
                    width: 100%;
                    
                    display: flex;
                    justify-content: space-between;
                    div{
                         display: flex;
                         flex-direction: column;
                         align-items: center;

                         h3{
                              font-weight: 300;
                              color: rgb(40, 40, 40);
                         }
                    }
               }
          

          }
          
          

          
     }
     #edit-profile-picture{
          position: static;
          z-index: 99;
          transform: translate(3.5rem, -2.5rem);
     } 
     #edit-cover-picture {
          transform: translate(1.5rem, 1rem);
          z-index: 99;
      }

     .profile-container img{
          width: 12rem;
          height: 12rem;
          aspect-ratio: 1/1;
          object-fit: cover;
          object-position: center;
          border-radius: 50%;
          border: 6px solid #f0f5f7;
     }
     .info-container{
          transform: translateY(-6.5rem);
          margin: 1.5rem auto;
          height: 8.5rem;
          background-color: #fff;
          width: 90%;
          border-radius: 2rem;
          box-shadow: 0px 0px 4px  rgba(0, 0, 0, 0.2);

          .count-container{
               display: none;
          }

     }
     
     .info-container ul{
          display: flex;
          margin: 0 auto;
          flex-direction: column;
          align-items: center;
          gap: 0.8rem;
          padding: 1rem 0;
     }
     
     .info-container ul li{
          list-style: none;
          background-color: rgba(255, 255, 255, 0.371);
          width: fit-content;
          padding: 0.2rem 2rem;
          border-radius: 0.5rem;
          display: flex;
          justify-content: center;
     }
     .timeline{
          margin: 0;
          width: 100%;
          position: absolute;
          top: 70%;
          
     }
     
     .post-follower-container{
          margin: 0 auto;
          display: flex;
          justify-content: space-evenly;
  
     }
     .timeline .post-follower-container button{
          border: none;
          width: 6rem;
          font-weight: 500;
          height: 2rem;
          border-radius: 4rem;
          cursor: crosshair;
          transition: 0.2s ease;
     }
     .timeline .post-follower-container button:hover{
          scale: 1.1;
     }
     .timeline .post-follower-container button:active{
          scale: 0.9;
     }

     
     .post-container, .following-container, .followers-container{
          width: 90%;
          margin: auto;
          height: 46rem;
          overflow: scroll;
          border-radius: 1rem;
          padding: 1rem 0;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.4) inset;
     }
     .hidden{
          display: none;
     }

     .post-header{
          .profile-name img{
               width: 3rem;
               height: 3rem;
               aspect-ratio: 1/1;
               object-fit: cover;
               object-position: center;
               border-radius: 50%;
               margin-right: 1rem;
               transition: 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
          }
     }
     .post-content{
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;

          
          img{
               width: 80%;
               border-radius: 1rem;
               margin: auto;
            
               transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
               z-index: 9999;
          }
          p{
               margin: 1rem auto;
               padding: 0;
            
               width: 80%;
          }
          img:hover{
               scale: 1.1;
          }
          video{
               width: 75%;
               border-radius: 1rem;
               margin: auto;
               position: relative;
               transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
               z-index: 9999;
          }
          video:hover{
               scale: 1.1;
          }
     }
     
     .post-action{
          display: flex;
          align-items: center;
          padding: 0 4rem;
          justify-content: space-between;
          margin-top: 1rem;
          margin-bottom: 2.5rem;
          align-items: center;
          position: relative;
     
          
          .userWhoLikes{
               display: none;
               position: absolute;
               left: 12%;
               top: -3.2rem;
               z-index: 9999;
               width: fit-content;
               height: fit-content;
               background-color: #f3f3f3;
               padding: 1rem;
               border-radius: 1rem 1rem 1rem 0;
               li{
                    list-style: none;
                    font-size: 0.8rem;
                    color: rgb(78, 78, 78);
               }
          }
          .form{
               width: 85%;
               display: flex;
               align-items: center;
          }
          .form button{
              
               right: 1rem;
               scale: 0.7;
               cursor: pointer;
               color: #295255;
          }
     
          .form input{
               width: 100%;
               height: 2rem;
               outline: none;
               border: none;
               border-radius: 4rem;
               background-color: #f3f3f3;
               padding-left: 1rem;
          }
          
     
          button{
               background-color: transparent;
               border: none;
               font-size: 2rem;
               color: red;
               cursor: pointer;
               transition: 0.2s ease , color 3s ease;
               
          }
          button:hover{
               scale: 1.05;
               color: #ff22f0;
          }
          button:active{
               scale: 0.8;
               color: #7d0707;
          }
     
          .comment-btn{
               color: black;
               cursor: pointer;
          }
     
          .delete-btn{
               color: black;
               cursor: pointer;
               scale: 1.5;
               padding-left: 0.6rem;
          }
          
         
     }
     .name{
          padding-top: 0;
     }
     
     
     
     
}
