{% extends "base.html"%}
{% block css %}<link rel="stylesheet" href="{{url_for('static', filename='stylingShit/userprofile.css')}}"> {% endblock %}
{% block title%} Profile Page {% endblock %}

{% block content %}

{% block header%}
{%block icon%}<link rel="icon" type="image/x-icon" href="{{url_for('static', filename = 'icons/iconNamin.png')}}">{%endblock%}
<li>
     <a class="menu-btn-text" href="/homepage"><i class="fa-solid fa-house"></i></a>
</li>


{% endblock %}

<div class="edit-cover-picture-popup hidden">
     <div class="edit-cover-picture-container">
          <h1>Edit your Cover Picture</h1>
          <button class="exit-edit-cover">x</button>
          
          <form action="/upload-cover" method="post" enctype="multipart/form-data">
               <input type="file" placeholder="Upload Cover Picture" name="cover-pic">
               <input type="submit" value="Upload">
          </form>

     </div>
</div>
<div class="edit-profile-picture-popup hidden">
     <div class="edit-profile-picture-container">
          <h1>Edit your Profile Picture</h1>
          <button class="exit-edit">x</button>

          <form action="/upload-profile" method="post" enctype="multipart/form-data">
               <input type="file" placeholder="Upload Profile Picture" name="profile-pic">
               <input type="submit" value="Upload">
          </form>

     </div>
</div>
     <div class="cover-profile-container">

          <div class="cover-container">
               <img src="{{url_for('views.get_cover_picture', user_id = current_user.id)}}" alt="">
               <button id="edit-cover-picture"><i class="fa-solid fa-pencil"></i></button>
          </div>
         

          <div class="profile-container">

               <div class="head">
                    <img src="{{url_for('views.get_profile_picture', user_id = current_user.id)}}" alt="">
                    <button id="edit-profile-picture"><i class="fa-solid fa-pencil"></i></button>
               </div>
               
              

               <div class="body">
                    <h1 class="namee">{{name}}</h1>

                    <ul class="count-container-tablet">
                         <div>
                              <h2>{{postCount}}</h2>
                              <h3>Posts</h3>
                         </div>
                         <div>
                              <h2>{{followersCount}}</h2>
                              <h3>Followers</h3>
                         </div>
                         <div>
                              <h2>{{followingCount}}</h2>
                              <h3>Following</h3>
                         </div>
                    </ul>

               </div>
               

          </div>

     </div>

                         {% with messages = get_flashed_messages(with_categories = true)%}
                         {% if messages %}
                              {% for category, msg in messages %}
                                   {% if category == 'error' %}
                                   <div class="prompt-container">
                                        <div class="error-msg">
                                             <h2>{{msg}}</h2>
                                             <button class="exit-prompt">x</button>
                                        </div> 
                                   </div>
                                   {% endif %}
                              {% endfor %}
                         {% endif %}
                         {% endwith %}

     <div class="info-container">
          
          <ul class="count-container">
               <div>
                    <h2>{{postCount}}</h2>
                    <h3>Posts</h3>
               </div>
               <div>
                    <h2>{{followersCount}}</h2>
                    <h3>Followers</h3>
               </div>
               <div>
                    <h2>{{followingCount}}</h2>
                    <h3>Following</h3>
               </div>
          </ul>
          <ul>
               <li class="bio">"{{bio}}"</li>
               <li>{{address}}</li>
               <li>{{birthday}}</li>
          </ul>
     </div>
     
     <div class="timeline">
          <div class="post-follower-container">
               <button style="border: 2px solid black" id="postsToggleBtn">Posts</button>
               <button id="followersToggleBtn">Followers</button>
               <button id="followingToggleBtn">Following</button>
          </div>
          <div class="post-container">

               {% for post in posts %}
               <div class="post-item">

                    <div class="post-header">
                         <div class="profile-name">
                              <img src="{{url_for('views.get_profile_picture', user_id = post.user_id)}}" alt="">
                              <h3>{{name}}</h3>
                         </div>
                         <h5>{{post.datePost}}</h5>
                    </div>
                    <div class="post-content">
                         <p class="caption">{{post.caption}}</p>
                         {%if 'image' in post.mimetype%}
                              <img src="{{url_for('views.get_post_picture', user_id = post.id)}}" alt="User Picture">
                         {%elif 'video' in post.mimetype%}
                              <video controls src="{{url_for('views.get_post_picture', user_id = post.id)}}" type="{{post.mimetype }}"></video>
                         {%endif%}
                    </div>

                    <div class="post-action">
                         <button id="like-btn-{{post.id}}" class="like-btn {% if post.id in liked_posts %}liked{% endif %}" onclick="toggleLike('{{post.id}}','{{current_user.id}}')">
                              {% if post.id in liked_posts %}
                                   <i class="fa-solid fa-heart"></i>
                              {%else%}
                                   <i class="fa-regular fa-heart"></i>
                              {% endif %}
                         </button>
                         <p id="like-count-{{post.id}}" class="like-count" onmouseenter="viewLikes('{{post.id}}')">{{post.like_count}}</p>

                         <div class="user-who-likes userWhoLikes" id="user-who-likes-{{post.id}}">
                         
                         </div>
     
                         <div class="form">
                              <input type="text" placeholder="Comment" name ="comment" required="" id="comment-text-{{post.id}}">
                              <button type="submit" onclick="sendComment('{{post.id}}')"><i class="fa-solid fa-paper-plane"></i></button>
                         </div>

                         <button type="button" onclick="viewComment('{{post.id}}')" class="comment-btn" id="comment-section-btn-{{post.id}}"><i class="fa-regular fa-comment"></i></button>
                         <span id="comment-section-counter-{{post.id}}">{{post.comment_count}}</span>

                         <a class="delete-btn" href="/delete-post/{{post.id}}"><i class="fa-solid fa-trash-can"></i></a>

                         <div class="comment-box-popup">
                              <div class="comment-box">
                                   <div class="post-info">
                                        <p>{{post.nameWhoPost}}'s post</p>
                                   </div>
          
                                   <button class="close-comment-box"><i class="fa-solid fa-circle-xmark"></i></button>
                                   
                                   <ul class="comment-list-container">
                                        <!-- <li class="comment-list">
                                        
                                             <div>
                                                  <img src="{{url_for('static', filename = 'defaultImages/default.jpg')}}" alt="">
                                                  <p class="name">Marc Rainier Reyes:</p>
                                             </div>
                                             <p class="comment-content">jccjwnw</p>
                                             <p class="date">01/24/0000</p>
                                             
                                        </li> -->
                                   </ul>
                                   
                                  
                                   
                              </div>
                         </div>

                    </div>
                    
               </div>
               {% endfor %}

          </div>
          <div class="following-container hidden">
               {% for following in followingsId%}

                    <a href="/view-other-profile/{{following.user_id}}">
                         <img src="{{url_for('views.get_profile_picture', user_id = following.user_id)}}" alt="{{following}} Photo">
                         
                         <h4>{{following.following_name}}</h4>
                    </a>
                        
                         
                    
                    
               {%endfor%}
               
               
          </div>
          <div class="followers-container hidden">
               {% for follower in followersId%}

                    <a href="/view-other-profile/{{follower.user_id}}">
                         <img src="{{url_for('views.get_profile_picture', user_id = follower.user_id)}}" alt="{{following}} Photo">
                         <h4>{{follower.follower_name}}</h4>
                    </a>
                         
                    
                    
               {%endfor%}
               
          </div>
     </div>

     <script>
          const CURRENT_USER_ID = "{{ current_user.id }}";
     </script>
<script src="{{url_for('static', filename = 'javascript/userprofile.js')}}"></script>
{% endblock %}